@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

#hourglass {
    font-size: 10rem !important;
}

.countDownBox {
    width: 80%;
    margin: auto;
}

.selectionBox {
    width: 60%;
    margin: auto;
}

.time {
    font-family: 'Orbitron', sans-serif !important;
    font-size: 10rem !important;
    color: #363636 !important;
}

.small-spacer {
    height: 5px;
}

.hidden {
    display: none;
}
